#shapeBox {
    position: relative;
    contain: paint;
    height: 600px;
    border: solid black 1px;
}

#displayInfo {
    width: 300px;
    border: solid black 1px;
}



#shape-container {
    position: relative;
    contain: paint;
    height: 600px;
    width: 600px;
    background-color: gainsboro;
}

.shape {
    position: absolute;
}

/* #shape-info {
    font-size: 1.2em;
    height: 600px;
    width: 250px;
    background-color: lightcyan;
} */

/* #container {
    display: flex;
} */

.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-top: solid yellow;
    border-right: solid transparent;
}

/* .rectangle {
    position: absolute;
    background-color: green;
}

.square {
    position: absolute;
    background-color: red;
}

.circle {
    position: absolute;
    background-color: purple;
    border-radius: 50%;
}

.triangle {
    position: absolute;
    background-color: yellow; */
}